<h1>Listing task_tagships</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_tagships.each do |task_tagship| %>
  <tr>
    <td><%= task_tagship.task_id %></td>
    <td><%= task_tagship.tag_id %></td>
    <td><%= link_to 'Show', task_tagship %></td>
    <td><%= link_to 'Edit', edit_task_tagship_path(task_tagship) %></td>
    <td><%= link_to 'Destroy', task_tagship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task tagship', new_task_tagship_path %>
