<%= form_for(@mission_story) do |f| %>
  <% if @mission_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission_story.errors.count, "error") %> prohibited this mission_story from being saved:</h2>

      <ul>
      <% @mission_story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mission_id %><br />
    <%= f.number_field :mission_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br />
    <%= f.date_select :from_date %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br />
    <%= f.date_select :to_date %>
  </div>
  <div class="field">
    <%= f.label :like_count %><br />
    <%= f.number_field :like_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
