<%= form_for @story, :html => {:multipart => true} do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, :class =>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :story_date %><br />
    <%= f.date_select :story_date %>
  </div>
  <div class="field">
    <%= f.label :story_time %><br />
    <%= f.time_select :story_time %>
  </div>
  <div class="field">
    <%= f.label :story_entry %><br />
    <%= f.text_area :story_entry, :class=>"form-control" %>
  </div>
  <div class="field">
    <label>Upload Cover Image:</label>
    <%= f.file_field :travel_image %>
  </div>
  <div class="field">

    <%= f.hidden_field :user_id, :value=> session[:user_id] %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-lg btn-primary top-buffer" %>

<% end %>
